.contact_main {
    position: relative;
    top: 460px;
    padding: 50px 0px;
    background-color: #F8F8F8;
  }
  .contact_right {
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 65px 50px;
    background-color: #fff;
    box-shadow: 0 0 10px 0px lightgray;
  }
  .form-label,
  .form-select,
  .form-control::placeholder {
    font-size: 14px;
  }
  /* .contact_btn {
    padding: 0px 0px;
  } */
  .contact_right input,
  .form-select {
    border-radius: 15px;
    padding: 20px;
  }
  .contact_right input:focus {
    box-shadow: none;
  }
  .contact_title h1 {
    font-size: 55px;
    max-width: 74%;
    line-height: 66px;
  }