.tech_main {
    position: relative;
    top: 460px;
    padding: 50px 0px;
  }
  .tech_title {
    padding: 0px 150px;
    text-align: center;
  }
  
  .tech_box img {
    width: 30px;
    padding-bottom: 20px;
  }
  
  .tech_box {
    padding: 25px 22px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 20px;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to bottom, #fff 40%, var(--items-color) 80%, var(--items-color) 100%)
        border-box;
    background-clip: padding-box, border-box;
  }
  .tech_box:hover {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to bottom, var(--items-color) 40%, var(--items-color) 80%, var(--items-color) 100%)
        border-box;
  }
  