.footer_main{
    position: relative;
    top: 468px;
    background-color: #DCDCDC;
  }
  .footer_contact img {
    width: 20px;
    height: 20px;
  }
  .footer_top a {
    color: #000;
    padding: 0px 30px 0px 15px;
  }
  .footer_top li{
    border-right: 1px solid #000;
  }
  .footer_top {
    padding: 35px 0px;
    border-bottom: 1px solid;
  }
  .footer_top li:last-child{
    border-right: 0px;
  }
  
  .footer_contact {
    padding-top: 30px;
  }
  .footer_bottom{
    padding: 20px 0px;
    font-size: 15px;
  }
  .footer_bottom li {
    padding: 0px 5px;
  }