.bus_btn a {
    border: 1px solid lightgray;
    padding: 25px 50px;
    border-radius: 50px;
    margin: 20px 0px;
    background: #fff;
  }
  .bus_btn a:hover {
    background: linear-gradient(to right, #ad2f89 0%, #3d34f0 110%);
    color: #fff;
  }
  .bus_btn span{
    color: #000;
    position: relative;
    left: 7px;
    transition: all 0.3s linear;
  }
  .bus_btn i {
    opacity: 0;
    transform: translateX(-12px);
    transition: all 0.3s linear;
  }
  .bus_btn a:hover > span {
    left: 0px;
    color: #fff;
  }
  .bus_btn a:hover > i {
    opacity: 1;
    transform: translateX(7px);
  }
  .bus_btn {
    padding: 60px 0px;
    text-align: center;
  }