*,
ul,
p,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --pink: #ad2f89;
  --lightpink: #dc56b6;
  --blue: #3d34f0;
  --gray: #a5a5a5;
  --white: #ffffff;
}
.margin-1 {
  margin-left: 1px;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover{
  cursor: pointer;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 0;
}

.graybg {
  background-color: var(--gray);
  color: var(--white);
  border-radius: 50px;
}
