@media (max-width: 1199px) {
    .banner_image {
        left: 26%;
    }
}

@media (max-width:1023px){


    /* header */

    .navright,.navmenu{
        width: 100%;
        background-color: var(--gray);
    }
    .navright{
        height: 100vh;
        position: absolute;
        top: 0;
        padding-top: 50px;
        display: none;
    }
    .navright li{
        padding: 20px 0px;
    }
    .navbtn{
        position: relative;
        width: 100%;
    } 
    .togglebtn{
        display: block;
        z-index: 1;
        left: 400px;
        position: relative;
        border: 0px;
    }
    .navmenu{
        border-radius: 0px;
    }
    .navmenu ul {
        flex-direction: column;
        align-items: center;
    }
    .animated-border-box-glow {
        filter: blur(80px);
    }
    .animated-border-box{
        top: -63px;
    }
    .logo{
        position: relative;
        z-index: 1;
        width: 33%;
    }
    

    /* Banner */

    .banner_image {
        left: 16%;
    }
    .margin-1{
        margin: 0px;
    }

    /* demo section */
    .contact_title h1 {
        font-size: 44px;
        max-width: 100%;
    }

    /* Faq Section */
    .faq_main .row{
        flex-direction: column-reverse;
    }

    /* footer Section */
    .footer_bottom ul{
        padding: 10px;
    }
    .footer_top {
        padding: 35px 80px;
        text-align: center;
    }
    li:nth-child(3){
        border-right: 0px;
    }
    .footer_top li {
        margin-bottom: 25px;
    }
}

@media (max-width:768px){

    /* Header  */

    .togglebtn {
        left: 200px;
    }
    .logo {
        position: relative;
        z-index: 1;
        width: 40%;
    }
    
    /* Banner  */

    .inner_top {
        padding: 0px 20px 0px 60px;
    }
    .inner_top span {
        font-size: 20px;
    }
    .bannericon img {
        width: 25px;
    }
    .banner_image {
        left: 8%;
        width: 450px;
        bottom: -44%;
    }
    .banner_image::before {
        background-size: 455px;
    }
    .banner_inner {
        position: absolute;
        top: 23px;
        left: 25px;
        width: 406px;
        height: 313px;
        border-radius: 64px 63px 0 0;
        padding: 18px 10px 10px 10px;
    }
    .inner_mid {
        border-radius: 30px;
        margin: 20px 0px 15px;
    }
    .inner_mid .squarebox {
        width: 15px;
        height: 15px;
    }
    .inner_mid .ai {
        font-size: 18px;
    }
    .inner_mid_top {
        padding: 10px 18px;
    }
    .inner_mid p {
        font-size: 15px;
        line-height: 20px;
    }
    .inner_mid_bottom {
        padding: 10px 8px 10px 10px;
    }

    /* footer css  */
    .footer_top {
        padding: 35px 30px;
    }
    .footer_detail{
        width: 100%;
        padding: 10px 0px;
    }
    .footer_contact {
        padding-top: 15px;
    }
}

@media (max-width:519px){

    /* Header  */
    .togglebtn {
        left: 150px;
        font-size: 25px;
        border: 0px;
        top: 4px;
    }

    /* banner */
    .banner_image {
        left: 4%;
        width: 388px;
        bottom: -41%;
    }
    .banner_image::before {
        background-size: 394px 355px;
    }
    .banner_inner {
        position: absolute;
        top: 21px;
        left: 22px;
        width: 350px;
        height: 333px;
        border-radius: 52px 48px 0 0;
        padding: 22px 10px 10px 10px;
    }
    .inner_top {
        padding: 0px 10px 0px 60px;
    }
    .inner_bottom input {
        padding: 15px 20px;
    }

    /* Demo css */
    .demo_main {
        margin: 0px 20px;
    }
    .demo_row {
        padding: 20px 20px 0 20px;
    }
    .demo_left {
        padding: 30px 0px 50px 0px;
    }
    .demo_left h1 {
        max-width: 92%;
        margin-bottom: 10px;
    }
    .cap_title h1 {
        padding-bottom: 20px;
    }

    /* Technology css */
    .tech_title {
        padding: 0px 0px;
    }

    /* Business  */
    .bussiness_main {
        padding: 50px 14px;
    }
    .business_box {
        padding: 55px 20px;
    }
    .number {
        font-size: 125px;
    }
    .bus_btn a:hover > i {
        transform: translateX(3px);
    }
    .bus_btn a {
        font-size: 14px;
        padding: 25px 20px;
    }
    .bus_btn {
        padding: 45px 0px;
    }

    /* Echo css  */
    .echoes_main::after {
        width: 150px;
        height: 150px;
        filter: blur(85px);
    }
    .echoes_main::before {
        width: 150px;
        height: 150px;
        filter: blur(85px);
    }
    .echoes_box {
        padding: 15px 10px 15px 15px;
    }

    /* Contact css  */
    .contact_title h1 {
        line-height: 40px;
        font-size: 36px;
    }
    .contact_main {
        padding: 50px 15px;
    }    
    .contact_right {
        padding: 65px 30px 50px;
    }
    .contact_btn a{
        padding: 25px 50px;
    }

    /* footer  */
    .footer_top {
        padding: 35px 17px;
    }
}

@media (max-width:419px) {

    /* Header  */
    .togglebtn {
        left: 100px;

    }
    .logo {
        width: 50%;
        padding-left: 0px;
    }

    /* banner  */
    .banner_main {
        height: 500px;
        top: 0px;
    }
    .banner_image {
        width: 335px;
        bottom: -30%;
        left: 3%;
    }
    .banner_image::before {
        background-size: 340px 350px;
    }
    .banner_inner {
        width: 303px;
        height: 329px;
        left: 19px;
    }
    .bannericon img {
        width: 23px;
    }
    .inner_top {
        padding: 4px 10px 0px 50px;
    }
    .inner_mid {
        margin: 15px 0px 15px;
    }
    .inner_mid p {
        font-size: 13px;
        line-height: 18px;
    }
    .inner_bottom .btn {
        padding: 0px 15px 0px 10px;
        font-size: 14px;
    }
    .inner_bottom input {
        padding: 10px 20px;
    }
}